
header{
    background-color: blue;
    color: brown;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300%;
    color: whitesmoke;
}

#undertext{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

.undertext-div{
    display: flex;
    justify-content: center;
}

.huvud-kropp{
    display: flex;
    justify-content: center;
}

#rotate{
    background-color: palevioletred;
    height: 100px;
    width: 150px;
    font-size: 200%;
    color: teal;
}

#start{
    background-color: teal;
    height: 100px;
    width: 150px;
    font-size: 200%;
    color: palevioletred;
}

.buttons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


.rutnat{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 10%);
    color: aqua;
    border-color: black;

}


.ruta{
    width: 100%;
    height: 100%;
    background-color: aqua;
}


.grid-display{
    background-color: yellow;
    padding: 20px;
}
.grid-display-vertikal{
    background-color: yellow;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    
}

.skepp div{
    width: 50px;
    height: 50px;
}


.skepp-1{
    height: 50px;
    width: 100px;
    background-color: orange;
    display: flex;
}

.skepp-2{
    height: 50px;
    width: 150px;
    background-color: blue;
    display: flex;
}

.skepp-3{
    height: 50px;
    width: 150px;
    background-color: green;
    display: flex;
}

.skepp-4{
    height: 50px;
    width: 200px;
    background-color: pink;
    display: flex;
}

.skepp-5{
    height: 50px;
    width: 250px;
    background-color: purple;
    display: flex;
}



.skepp-1-vertikal{
    height: 100px;
    width: 50px;
    background-color: orange;
    display: flex;
    margin: 10px;
}

.skepp-2-vertikal{
    height: 150px;
    width: 50px;
    background-color: blue;
    display: flex;
    margin: 10px;
}

.skepp-3-vertikal{
    height: 150px;
    width: 50px;
    background-color: green;
    display: flex;
    margin: 10px;
}

.skepp-4-vertikal{
    height: 200px;
    width: 50px;
    background-color: pink;
    display: flex;
    margin: 10px;
}

.skepp-5-vertikal{
    height: 250px;
    width: 50px;
    background-color: purple;
    display: flex;
    margin: 10px;
}



.skepp1{
    background-color: orange;
}
.skepp2{
    background-color: blue;
}
.skepp3{
    background-color: green;
}
.skepp4{
    background-color: pink;
}
.skepp5{
    background-color: purple;
}

.boom{
    background-color: red;
}

.miss{
    background-color: black;
}


