
header{
    background-color: blue;
    color: brown;
}

#rotate{
    background-color: green;
}


.rutnat{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 10%);
    color: aqua;
    border-color: black;

}


.ruta{
    width: 100%;
    height: 100%;
    background-color: aqua;
}


.grid-display{
    background-color: yellow;
    padding: 20px;
}

.skepp div{
    width: 50px;
    height: 50px;
}


.skepp-1{
    height: 50px;
    width: 100px;
    background-color: orange;
    display: flex;
}

.skepp-2{
    height: 50px;
    width: 150px;
    background-color: blue;
    display: flex;
}

.skepp-3{
    height: 50px;
    width: 150px;
    background-color: green;
    display: flex;
}

.skepp-4{
    height: 50px;
    width: 200px;
    background-color: pink;
    display: flex;
}

.skepp-5{
    height: 50px;
    width: 250px;
    background-color: purple;
    display: flex;
}



.skepp-1-vertikal{
    height: 100px;
    width: 50px;
    background-color: orange;
    display: flex;
    margin: 10px;
}

.skepp-2-vertikal{
    height: 150px;
    width: 50px;
    background-color: blue;
    display: flex;
    margin: 10px;
}

.skepp-3-vertikal{
    height: 150px;
    width: 50px;
    background-color: green;
    display: flex;
    margin: 10px;
}

.skepp-4-vertikal{
    height: 200px;
    width: 50px;
    background-color: pink;
    display: flex;
    margin: 10px;
}

.skepp-5-vertikal{
    height: 250px;
    width: 50px;
    background-color: purple;
    display: flex;
    margin: 10px;
}



.skepp1{
    background-color: orange;
}



/*



.container{
    display: flex;
}


.grid-user{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
}


.grid div{
    width: 40px;
    height: 40px;
}


.grid-computer{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
}

.grid-display{
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin: 20px;
}

.destroyer-container{
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.submarine-container{
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 10px;
    display: flex;
}

.cruiser-container{
    width: 120px;
    height: 40px;
    background-color: purple;
    margin: 10px;
    display: flex;
}

.battleship-container{
    width: 160px;
    height: 40px;
    background-color: aqua;
    margin: 10px;
    display: flex;
}

.carrier-container{
    width: 200px;
    height: 40px;
    background-color: green;
    margin: 10px;
    display: flex;
}


.destroyer-container-vertical{
    width: 40px;
    height: 80px;
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.submarine-container-vertical{
    width: 40px;
    height: 80px;
    background-color: pink;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser-container-vertical{
    width: 40px;
    height: 120px;
    background-color: purple;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.battleship-container-vertical{
    width: 40px;
    height: 160px;
    background-color: aqua;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.carrier-container-vertical{
    width: 40px;
    height: 200px;
    background-color: green;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}



.ship div{
    width: 40px;
    height: 40px;
}

.destroyer {
    background-color: orange;
}
.submarine {
    background-color: pink;
}
.cruiser {
    background-color: purple;
}
.battleship {
    background-color: aqua;
}
.carrier {
    background-color: green;
}

.boom{
    background-color: red;
}

.miss{
    background-color: black;
}

*/